---
layout: default
---

<div class="posts">
  <h3 class="main-label">신간 소식</h3>
    <!-- 책 들어갈 부분 -->
    <div class="catalog">
      <div class="book">
          <h4><span class="highlight">디지털 노마드를 꿈꾸는 당신이 알아야 하는 모든 것</span> : 디지털 노마드로 사는 방법</h4>
          <div class="book-flex">
              <img class="book-cover" src="/books/cover/1.png" />
              <div class="book-desc">
                  <b>저자 | </b>해달별 (<a href="http://blog.naver.com/coachmsoox">네이버 블로그</a>, <a href="https://oox-school.tistory.com/">티스토리 블로그</a>)
                  <!-- <b><br />판매 | </b><a href="">교보문고</a>, <a href="">알라딘</a> -->
                  <br />
                  <b>ISBN | </b>979-11-972744-0-4<br/> 
                  <b>설명 | </b> 서른이 된 내가 바라는 행복은 치열함과 거리가 멀었다. 그래서 나는 디지털 노마드로 살기로 결심했다." | 100세 시대, 당신은 몇 살까지 일할 수 있습니까? 세상에 남들보다 더 적게 일하고, 더 쉽게 일해서 부자가 되는 방법은 없습니다. 이 책은 '쉽게 돈을 벌 수 있는 부업'에 대한 책이 아닙니다. 이 책은 당신의 삶을 바꿔줄 새로운 라이프 스타일에 대해 이야기 합니다.
              </div>
          </div>
      </div>
  </div>
  </div>

  <h3 class="main-label">블로그</h3>
  {% for post in paginator.posts %}
  <article class="post">

    <span class="date">
      {{ post.date | date: "%Y-%m-%d" }}
    </span>

    <!--
    <ul class="category-main-list">
      {% for category in post.category %}
      <li>
        <span>{{ category }}</span>
      </li>
      {% endfor %}
    </ul>
  -->

    <h1 class="main-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h1>

    <div clsss="meta main-tag">
      <ul class="tag">
        {% for tag in post.tags %}
        <li>
          <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
            {{ tag }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <!--
      <div class="entry">
        {{ post.excerpt }}
      </div>

      {% if post.link %}
      {% else %}
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      {% endif %}
-->

  </article>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination clearfix">
  {% if paginator.previous_page %}
  {% if paginator.previous_page == 1 %}
  <li class="prev"><a href="/">Prev</a></li>
  {% else %}
  <li><a href="/page{{ paginator.previous_page }}">Prev</a></li>
  {% endif %}
  {% else %}
  <li><span class="disabled">Prev</span></li>
  {% endif %}
  {% if paginator.page == 1 %}
  <li><span class="active">1</span></li>
  {% else %}
  <li><a href="/">1</a></li>
  {% endif %}
  {% for count in (2..paginator.total_pages) %}
  {% if count == paginator.page %}
  <li><span class="active">{{ count }}</span></li>
  {% else %}
  <li><a href="/page{{ count }}">{{ count }}</a></li>
  {% endif %}
  {% endfor %}
  {% if paginator.next_page %}
  <li class="next"><a href="/page{{ paginator.next_page }}">Next</a></li>
  {% else %}
  <li><span class="disabled">Next</span></li>
  {% endif %}
  <!--
</ul>
</section>
-->

  <!--
<div class="pagination">
  {% if paginator.previous_page %}
    <span class="prev">
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="prev">
        &#xE000; Previous
      </a>
      <span class="pagi">{{ paginator.page }} / {{ paginator.total_pages }}</span>
    </span>
  {% endif %}
  {% if paginator.next_page %}
    <span class="next">
      <span class="pagi">{{ paginator.page }} / {{ paginator.total_pages }}</span>
      <a href="{{ site.baseurl}}{{ paginator.next_page_path }}" class="next">
        Next &#xE001;
      </a>
    </span>
  {% endif %}
</div>
-->