---
---

@import "reset";
@import "open-color";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

.book {
    display: block;
    background-color: #eee;
    border-radius: 15px;
    padding: 0.5em 1.5em;
    margin-bottom: 1em;

    h4 {
        font-size: 1em;
        font-weight: bold;
        line-height: 1.6em;
    }

    .highlight {
        color: $pink;
        background-color: transparent;
    }

    a {
        font-size: 1em !important;
        color: $link-color !important;
    }
}

.book-flex {
    margin-bottom: 1em;
}

.book-cover {
    width: 25%;
    margin-right: 1em;
    padding: 0;

    @include mobile {
        display: block;
        width: 50%;
    }
}

.book-desc {
    flex-basis: 65%;
    font-size: 0.8em;
}

.main-label {
    padding-left: 1rem;
}

.archive .catalog {
    margin: 0;
}

.catalog {
    margin-top: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
}

html {
    font-size: $base-font-size;
    @include mobile {
        font-size: 14px;
    }
}

body {
    font-family: $base-font;
    color: $base-color;
    line-height: 1.9;
    //letter-spacing:
}

.container {
    margin: 0 auto;
    max-width: 800px; // 740
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.9;
    margin: 1em 0 15px;
    padding: 0;

    @include mobile {
        line-height: 1.4;
    }
}

h1,
h2,
h3,
h5 {
    font-weight: bold;
}

h1 {
    font-size: 30px;
    a {
        color: inherit;
        font-weight: normal;
    }
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
    margin-bottom: 35px;
}

h4 {
    font-size: 20px;
    //color: $base-lighten-color;
}

h6 {
    color: $base-lighten-color;
}

p {
    color: $text-color;
    margin: 20px 0;
}

a {
    color: $link-color;
    text-decoration: none;
    cursor: pointer;
    &:hover,
    &:active {
        color: $link-color;
        border-bottom: 1px dotted $link-color;
    }
}

.link-post {
}

em,
i {
    font-style: italic;
}

strong,
b {
    font-weight: bold;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

hr {
    border: 0;
    border-top: 1px solid $divider-color;
    margin: 30px auto;
}

ol,
ul {
    > li {
        &:before {
            position: absolute;
            width: $li-bullets-width;
            margin-left: -$li-bullets-width;
            display: inline-block;
            box-sizing: border-box;
            text-align: right;
        }
    }
}

ul {
    margin-bottom: 25px !important;

    > li:before {
        /*
      \25AA : 사각형
      https://www.htmlsymbols.xyz/star-symbols/asterisk
    */

        content: "\25AA";
        padding-right: $ul-bullets-right-space;
        font-family: $ul-bullets-font;
        font-size: $ul-bullets-font-size;
        line-height: $ul-bullets-font-line-height;
    }
}

ol {
    counter-reset: section;

    > li:before {
        counter-increment: section;
        content: counter(section) ".";
        padding-right: $ol-bullets-right-space;
        font-family: $ol-bullets-font;
        font-size: $ol-bullets-font-size;
        line-height: $ol-bullets-font-line-height;
    }
}

ol,
ul {
    > li {
        margin: 0 auto $li-bottom-space $li-bullets-width;
        line-height: $li-line-height;

        > ol,
        > ul {
            margin-top: $li-bottom-space;
        }
    }
}

li {
    > ol,
    > ul {
        > li {
            // font-size: ($li-child-size-ratio * 1em);
            margin: 0 auto ($li-bottom-space * $li-child-size-ratio) ($li-bullets-width * $li-child-size-ratio);
        }
    }
}

// Definition list
dt {
    float: left;
    width: $dt-width;
    overflow: auto;
    clear: left;
    text-align: right;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: $li-bottom-space;

    @include mobile {
        width: 120px;
    }
}

dd {
    margin-left: $dd-position;
    margin-bottom: $li-bottom-space;

    @include mobile {
        margin-left: 140px;
    }
}

// Table
table {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid $table-border-color;
    border-collapse: collapse;
}

td,
th {
    padding: 0.25rem 0.5rem;
    border: 1px solid $table-border-color;
    font-size: 80%;
    vertical-align: middle;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
    background-color: $table-background-color;
}

// Blockquote

blockquote {
    font-weight: 300;
    padding: 0 0 0 1.4rem;
    margin: 25px 0;
    border-left: 0.2em solid $blockquote-border-color;

    p {
        color: $blockquote-color;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.related {
    border-top: 3px solid $link-color;
    border-bottom: 3px solid $link-color;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.related li {
    @include mobile {
        width: 90% !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }
}

.related h2 {
    border-left: none !important;
}

// Header
.masthead {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #eee;
}

.masthead-title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 30px;
}
.masthead-title small {
    margin-left: 1rem;
    font-size: 75%;
    font-weight: 300;
    color: #c0c0c0;
    letter-spacing: 0;
}

@media (max-width: 48em) {
    .masthead-title {
        text-align: center;
    }
    .masthead-title small {
        display: none;
    }
}

// Footnote
a.footnote {
    &,
    .post p &,
    .post ol &,
    .post ul & {
        margin: 0 3px;
        padding: 0 2px;
        font-size: $small-font-size;
        text-align: center;
        border: 1px solid $footnote-link-border-color;
        border-radius: 2px;
        -webkit-text-stroke: 0.25px;
        -webkit-transition: 0.2s ease-out all;
        text-decoration: none;

        &:hover {
            background: $footnote-link-background-over-color;
        }
    }
}

.footnotes {
    border-top: 1px solid $divider-color;
    font-size: $small-font-size;
}

// Image
img {
    display: block;
    max-width: 100%;
    margin: 30px 0;
    border-radius: 10px;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
    max-width: none;
}

// Specify the color of the selection
::-moz-selection {
    color: $selection-color;
    background: $selection-background-color;
}
::selection {
    color: $selection-color;
    background: $selection-background-color;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

// Alignment
.center {
    text-align: center;

    &-image {
        margin: 0 auto;
        display: block;
    }
}

.right {
    text-align: right;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
    margin-bottom: 15px;
}

.masthead {
    padding: 30px;
    border-bottom: 1px solid $lightGray;

    @include mobile {
        // text-align: center;
        h1 {
            padding-left: 10px;
        }
    }
}

.site-avatar {
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 15px;

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }

    img {
        border-radius: 5px;
    }
}

.site-info {
    // float: left;

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

.site-name {
    margin: 0;
    cursor: pointer;
    font-weight: 300;
}

.site-description {
    margin: -5px 0 0 0;
    color: $gray;

    @include mobile {
        margin: 3px 0;
    }
}

.sidebar-item span {
    display: none;
}

.image-copyright {
    font-size: 80%;
    color: $gray;
}

nav {
    span {
        display: none;
    }

    @include mobile {
        float: none;
        margin-top: 9px;
        padding-left: 5px;
        display: block;
        // font-size: 16px;
    }

    a {
        margin-left: 20px;
        color: $darkGray;
        text-align: right;
        font-weight: 300;
        letter-spacing: 1px;

        @include mobile {
            margin: 0 5px !important;
            font-size: 14px;
            color: $blue;
        }
    }
}

.entry {
    // padding-top: 20px;
}

// Posts
.posts > .post {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid $divider-color;
}

.posts > .post:last-child {
    padding-bottom: 1em;
    border-bottom: none;
}

.page {
    padding: 0 30px;

    h1 {
        font-size: 24px !important;

        @include mobile {
            font-size: 20px !important;
        }
    }

    h5 {
        color: $pink;
        font-size: 18px !important;

        @include mobile {
            font-size: 16px !important;
        }
    }
}

.post {
    padding: 0 30px;

    h1 {
        font-size: 24px !important;
        margin-top: 0.1em;
        margin-bottom: 0.1em;

        @include mobile {
            width: 90%;
            font-weight: normal;
        }
    }

    .main-title {
        font-size: 18px !important;

        @include mobile {
            font-size: 14px !important;
        }
    }

    .main-title a {
        @include mobile {
            font-weight: normal;
        }
    }

    .main-title,
    .main-tag {
        @include mobile {
            width: 90% !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
            white-space: nowrap !important;
        }
    }

    // mobile text-overflow
    /*
  .mobile-text-overflow {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
*/

    h2 {
        // margin-top: 1em;
        font-size: 24px;
        border-left: 10px solid $black;
        padding-left: 10px;

        @include mobile {
            font-size: 20px;
        }
    }

    h3 {
        // margin-top: 1em;
        font-size: 20px;
        background-color: $lightGray;
        padding: 5px 10px;

        @include mobile {
            font-size: 16px;
        }
    }

    h4 {
        // margin-top: 1em;
        font-size: 18px;
        border-left: 5px solid $black;
        padding-left: 5px;
        font-weight: bold;

        @include mobile {
            font-size: 14px;
        }
    }

    h5 {
        // margin-top: 1em;
        font-size: 18px;
        color: $pink;
        font-weight: bold;

        @include mobile {
            font-size: 14px;
        }
    }

    .date {
        font-weight: 300;
        font-size: $small-font-size;
        color: $base-lighten-color;
        margin-right: 3px;
    }

    .category-main-list {
        display: inline;
        font-weight: 300;
        font-size: $small-font-size;

        li:before {
            content: "";
        }

        li {
            display: inline;
            margin: 0;

            span {
                margin: 3px 3px 3px 0;
                // padding: 0.5px 4px;
                // color: $pink; //$tag-index-label-color;
                //background-color: $pink;
                border-radius: 3px;
                // text-transform: capitalize;
            }
        }

        @include mobile {
            font-size: 85%;
        }
    }

    .tag {
        display: inline;
        font-weight: 300;
        font-size: $small-font-size;

        @include mobile {
            font-size: 12px;
        }

        li:before {
            content: "";
        }

        li {
            display: inline;
            margin: 0;

            > a {
                margin: 3px 3px 3px 0;
                padding: 0.5px 4px;
                color: $tag-index-label-color;
                background-color: $tag-index-label-background-color;
                border-radius: 5px;
                //text-transform: capitalize;
                &:hover,
                &:focus {
                    background-color: $link-color;
                    color: white;
                }
            }
        }
    }

    .comments {
        margin-top: 10px;
    }

    .read-more {
        font-size: 15px;
    }
}

.pagination {
    font-weight: 300;
    padding: 1em 0;
    width: 100%;
    display: inline-block;
    text-align: center;

    .pagi-info {
        display: none;
    }

    @include mobile {
        font-size: $small-font-size;

        .pagi-title {
            display: none;
        }

        .pagi-info {
            display: inline;
        }
    }

    li {
        display: inline;
        padding-right: 10px;
    }

    > .prev {
        // float: left;
        // width: 40%;
        a {
            color: $link-color; // $pagination-color;
            &:hover,
            &:focus {
                color: $link-color; // $pagination-over-color;
            }
        }
    }

    > .next {
        // float: right;
        // text-align: right;
        // width: 40%;
        a {
            color: $link-color; // $pagination-color;
            &:hover,
            &:focus {
                color: $link-color; // $pagination-over-color;
            }
        }
    }

    > .prev-post {
        float: left;
        text-align: left;
        width: 30%;
        a {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $link-color; // $pagination-color;
            &:hover,
            &:focus {
                color: $link-color; // $pagination-over-color;
            }
        }
    }

    > .next-post {
        float: right;
        text-align: right;
        width: 30%;
        a {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $link-color; // $pagination-color;
            &:hover,
            &:focus {
                color: $link-color; // $pagination-over-color;
            }
        }
    }
}

// Archive
.archive,
#post-list {
    li {
        padding-top: 2px;
        padding-bottom: 4px;
        margin-left: 10px !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        line-height: 1.8;
        border-bottom: 1px dashed $lightGray;

        @include mobile {
            width: 90% !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
            white-space: nowrap !important;
        }
    }

    a {
        color: $base-color;

        @include mobile {
            font-size: 14px;
            //display: block;
            //overflow: hidden;
            //text-overflow: ellipsis;
            //white-space: nowrap;
        }
    }

    a:hover {
        color: $link-color;
    }

    time {
        color: $base-lighten-color;
        font-size: $small-font-size;
        font-weight: 300;
        margin-left: 3px;

        @include mobile {
            display: none;
        }
    }
}

.archive h2,
#post-list h2 {
    color: $pink;
}

// Tags
.tags h2 {
    color: $pink;
    //text-transform: capitalize;
}

.tags > .label {
    > li:before {
        content: "";
    }

    > li {
        margin: 0;
        font-size: $small-font-size;
        font-weight: 300;
        display: inline;

        > a {
            display: inline-block;
            margin: 1px;
            color: $tag-index-label-color;
            background-color: $tag-index-label-background-color;
            border-radius: 3px;
            //text-transform: capitalize;

            span {
                float: left;
                padding: 0.5px 5px;

                &.count {
                    background-color: $tag-index-count-background-color;
                    border-radius: 0 3px 3px 0;
                }
            }
        }

        > a:hover {
            background-color: $link-color;
            color: white;
            border: 0;

            span {
                &.count {
                    background-color: #273c75;
                }
            }
        }
    }
}

.tags > .tag {
    li {
        padding-top: 2px;
        padding-bottom: 4px;
        margin-left: 10px !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        line-height: 1.8;
        border-bottom: 1px dashed $lightGray;

        @include mobile {
            width: 90% !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
            white-space: nowrap !important;
        }
    }

    a {
        color: $base-color;

        @include mobile {
            font-size: 14px;
            //display: block;
            //overflow: hidden;
            //text-overflow: ellipsis;
            //white-space: nowrap;
        }
    }

    a:hover {
        color: $link-color;
    }

    time {
        color: $base-lighten-color;
        font-size: $small-font-size;
        font-weight: 300;
        margin-left: 3px;

        @include mobile {
            display: none;
        }
    }
}
.category-list {
    display: inline-block;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 4px;
    margin-left: 10px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    line-height: 1.8;
    border-bottom: 1px dashed $lightGray;
}

.category-time {
    color: $base-lighten-color;
    font-size: $small-font-size;
    font-weight: 300;
    margin-left: 3px;

    @include mobile {
        display: none;
    }
}

.categories {
    h2 {
        // margin-bottom: 0;
    }

    .first {
        span {
            color: $pink;
            // background-color: $tag-index-label-background-color;
            // border-radius: 3px;
            // padding: .5px 5px;
        }

        span:hover {
            color: $link-color;
            // color: white;
            border: 0;
        }
    }

    ul li {
        margin-left: 0;
    }

    ul li:before {
        content: "";
    }

    ul li ul li {
        margin-left: 1em;
    }

    ul li ul li:before {
        content: "\25AA";
    }

    ul li ul li {
        // padding-bottom: 3px;
        // border-bottom: 1px solid $lightGray;
    }

    a {
        color: $base-color;
    }

    a:hover {
        color: $link-color;
    }
}

#blog-archives {
    a {
        color: $base-color;
    }

    a:hover {
        color: $link-color;
    }

    span {
        color: $base-lighten-color;
        font-size: $small-font-size;
        font-weight: 300;
        margin-left: 3px;

        @include mobile {
            display: none;
        }
    }
}

// Footer
.wrapper-footer {
    margin-top: 30px;
    width: 100%;
    border-top: 1px solid $footer-border-color;
    border-bottom: 1px solid $footer-border-color;
    background-color: $footer-background-color;
}

footer {
    padding: 20px 0;
    text-align: center;

    p {
        font-size: $small-font-size;
    }

    .svg-icon {
        display: block;
        font-size: 0;
        list-style: none;
        margin: 0;
        text-align: center;

        li {
            display: inline-block;
            margin: 10px;
        }

        svg {
            height: 30px;
            width: 30px;
        }

        em {
            font-size: 18px;
            line-height: 1.5;
            margin-top: -0.75em;
            position: absolute;
            text-align: center;
            top: 50%;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}

#toc {
    width: 70%;
    background-color: $lightGray;
    border: 1px solid $blue;
    padding: 10px;
    font-size: 80%;
    margin-bottom: 50px !important;

    ul {
        margin-bottom: 0 !important;
    }

    ul li:before {
        content: "\25AB";
    }

    ul li ul li:before {
        content: "\2010";
    }
}

.date-modify {
    font-size: 80%;
    background-color: $oc-red-0;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.blue-box {
    font-size: 80%;
    background-color: $skyBlue;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.yellow-box {
    font-size: 80%;
    background-color: $yellow;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.videowrap {
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 비율인 경우 */
    /* padding-bottom값은 4:3 비율인 경우 75%로 설정합니다 */
    padding-top: 25px;
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.footnotes {
    /* a single footnote link */
    margin-top: 60px;
}

input {
    width: 100% !important;
    border: 1px solid $gray !important;
    padding: 10px !important;
    margin-bottom: 15px !important;
}

.search-info {
    font-size: 80%;
    color: #bbb;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -14rem;
    width: 15rem;
    visibility: hidden;
    overflow-y: auto;
    font-size: 0.875rem; /* 15px */
    color: rgba(255, 255, 255, 0.6);
    background-color: #202020;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 2rem;
    font-size: 16px;
    font-weight: 300;
}
@include mobile {
    .sidebar {
        font-size: 14px; /* 14px */
    }
}

/* Sidebar content */
.sidebar a {
    color: #fff;
    font-size: 1.5rem;
}
.sidebar a:hover {
    border-bottom: none !important;
    color: $link-color;
}
.sidebar-item {
    margin-bottom: 2rem;
}
.sidebar-item p:last-child {
    list-style: none;
    margin-bottom: 0;
}
.sidebar-item ul {
    padding: 0 !important;
    margin: 0 !important;
}
.sidebar-item li {
    padding: 0;
    margin: 0;
    list-style: none !important;

    &:before {
        display: none;
    }
}

/* Sidebar nav */
.sidebar-nav {
    margin-bottom: 2rem;
}
.sidebar-nav-item {
    display: block;
    padding: 0.5rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: transparent;
}

@media (min-width: 48em) {
    .sidebar-item {
    }
    .sidebar-nav-item {
    }
}

/* sidebar category */
.sidebar-item-category {
}

.sidebar-item-category ul {
    margin-bottom: 15px;
    padding: 0;
}

.sidebar-item-category li {
    font-size: 16px;
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 0;
}

.sidebar-item-category .name {
    padding: 0;
    margin-left: 10px;
    font-size: 16px;

    @include mobile {
        font-size: 14px;
    }
}
.sidebar-item-category .badge {
    color: $lightGray;
    font-size: 70%;
    background-color: $darkGray;
    padding: 0.2rem;
    border-radius: 8px;
}

.tags-cloud a {
    @include mobile {
        font-size: 100% !important;
    }
}

/* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */
.sidebar-checkbox {
    position: absolute;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* Style the `label` that we use to target the `.sidebar-checkbox` */
.sidebar-toggle {
    position: absolute;
    top: 2rem;
    left: 1rem;
    display: block;
    padding: 0.25rem 0.75rem;
    color: #fff;
    background-color: #555;
    border-radius: 0.25rem;
    cursor: pointer;
}

.sidebar-toggle:before {
    display: inline-block;
    width: 1rem;
    height: 0.75rem;
    content: "";
    background-image: -webkit-linear-gradient(
        to bottom,
        #555,
        #555 20%,
        #fff 20%,
        #fff 40%,
        #555 40%,
        #555 60%,
        #fff 60%,
        #fff 80%,
        #555 80%,
        #555 100%
    );
    background-image: -moz-linear-gradient(
        to bottom,
        #555,
        #555 20%,
        #fff 20%,
        #fff 40%,
        #555 40%,
        #555 60%,
        #fff 60%,
        #fff 80%,
        #555 80%,
        #555 100%
    );
    background-image: -ms-linear-gradient(to bottom, #555, #555 20%, #fff 20%, #fff 40%, #555 40%, #555 60%, #fff 60%, #fff 80%, #555 80%, #555 100%);
    background-image: linear-gradient(to bottom, #555, #555 20%, #fff 20%, #fff 40%, #555 40%, #555 60%, #fff 60%, #fff 80%, #555 80%, #555 100%);
}

.sidebar-toggle:active,
#sidebar-checkbox:focus ~ .sidebar-toggle,
#sidebar-checkbox:checked ~ .sidebar-toggle {
    color: #fff;
    background-color: #555;
}

.sidebar-toggle:active:before,
#sidebar-checkbox:focus ~ .sidebar-toggle:before,
#sidebar-checkbox:checked ~ .sidebar-toggle:before {
    background-image: -webkit-linear-gradient(
        to bottom,
        #fff,
        #fff 20%,
        #555 20%,
        #555 40%,
        #fff 40%,
        #fff 60%,
        #555 60%,
        #555 80%,
        #fff 80%,
        #fff 100%
    );
    background-image: -moz-linear-gradient(
        to bottom,
        #fff,
        #fff 20%,
        #555 20%,
        #555 40%,
        #fff 40%,
        #fff 60%,
        #555 60%,
        #555 80%,
        #fff 80%,
        #fff 100%
    );
    background-image: -ms-linear-gradient(to bottom, #fff, #fff 20%, #555 20%, #555 40%, #fff 40%, #fff 60%, #555 60%, #555 80%, #fff 80%, #fff 100%);
    background-image: linear-gradient(to bottom, #fff, #fff 20%, #555 20%, #555 40%, #fff 40%, #fff 60%, #555 60%, #555 80%, #fff 80%, #fff 100%);
}

@media (min-width: 30.1em) {
    .sidebar-toggle {
        position: fixed;
    }
}

@media print {
    .sidebar-toggle {
        display: none;
    }
}

.wrap,
.sidebar,
.sidebar-toggle {
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
.wrap,
.sidebar-toggle {
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

#sidebar-checkbox:checked + .sidebar {
    z-index: 10;
    visibility: visible;
}
#sidebar-checkbox:checked ~ .sidebar,
#sidebar-checkbox:checked ~ .wrap,
#sidebar-checkbox:checked ~ .sidebar-toggle {
    -webkit-transform: translateX(14rem);
    -ms-transform: translateX(14rem);
    transform: translateX(14rem);
}

code {
    @include mobile {
        font-weight: normal;
    }
}
